<div
  class="p-fluid flex flex-initial justify-content-center"
  style="max-width: 400px"
>
  <p-card
    class="pt-0"
    subheader="{{ this.category }}"
    [style]="{heigth: '300px',width: '300px'}"
  >
    <ng-template pTemplate="title">
      <div class="card-title">
        {{ this.title }}
      </div>
    </ng-template>

    <ng-template pTemplate="header" class="hidden">
      <a href="/store/product/{{ product.id }}">
        <img
          class="border-top-rounded"
          alt="Card"
          src="{{ this.imageSrc }}"
          style="max-width: 400px; max-height: 150px; overflow: hidden"
        />
      </a>
    </ng-template>

    <div class="flex flex-wrap justify-content-between">
      <div class="mb-1">
        {{ this.price | currency }}
      </div>
      <p-rating
        [(ngModel)]="value"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Add"
        icon="pi pi-cart-plus"
        styleClass="p-button-outlined"
        (onClick)="addToCart()"
      ></p-button>
    </ng-template>
  </p-card>
</div>
