.border-top-rounded {
  border-radius: 10px 10px 0 0;
}

.card-title {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis; /* Esto agrega puntos suspensivos (...) al final del texto truncado */
  white-space: nowrap; /* Esto evita que el texto se divida en varias líneas */
}

:host ::ng-deep button{
    border-radius: 25px ;
}
