<div class="card flex justify-content-center">
  <p-card [style]="{ width: '600px' }" header="{{ this.product.title }}">
    <ng-template pTemplate="content">
      <div class="grid">
        <div class="col-3">
          <img style="width: 100px" src="{{ this.product.thumbnail }}" alt="" />
        </div>
        <div class="col-9">
          <p class="m-0">
            <strong>
              {{ this.product.price| currency }}
            </strong>
          </p>
          quantity: {{ this.item.quantity }}
          <a (click)="removeFromCart()">Eliminar</a>

        </div>
      </div>
      <p-divider></p-divider>
    </ng-template>
  </p-card>
</div>


