<p-button
  icon="pi pi-arrow-left"
  styleClass="mt-2"
  [routerLink]="['/admin/products']"
></p-button>
<p-card header="Product detail" styleClass="mt-6">
  <form [formGroup]="productForm" (submit)="saveProduct()">
    <div class="formgrid grid mt-5">
      <div class="col-4">
        <img
          src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg"
          alt=""
        />
      </div>
      <div class="col-8 formgrid grid">
        <div class="field col-12 md:col-12 mb-5">
          <span class="p-float-label">
            <input
              type="text"
              pInputText
              class="w-full lg:w-6"
              formControlName="title"
            />
            <label htmlFor="username">Title</label>
          </span>
          <div
            *ngIf="productForm.get('title')?.touched && productForm.get('title')?.errors?.['required']"
            class="text-red-500"
          >
            This field is requiered
          </div>
          <div
            *ngIf="productForm.get('title')?.touched && productForm.get('title')?.errors?.['minLength']"
            class="text-red-500"
          >
            Title must be at least 4 characters
          </div>
        </div>
        <div class="field col-4 mb-5">
          <span class="p-float-label">
            <p-dropdown
              [options]="categories"
              styleClass="w-full"
              formControlName="category"
            ></p-dropdown>
            <label htmlFor="username">Category</label>
          </span>
        </div>
        <div class="field col-4 mb-5">
          <span class="p-float-label">
            <input
              type="text"
              pInputText
              class="w-full"
              formControlName="brand"
            />
            <label htmlFor="brand">Brand</label>
          </span>
          <div
            *ngIf="productForm.get('brand')?.touched && productForm.get('brand')?.errors?.['required']"
            class="text-red-500"
          >
            This field is requiered
          </div>
        </div>
        <div class="field col-4 mb-5">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">$</span>
            <p-inputNumber
              inputId="integeronly"
              styleClass="w-full"
              formControlName="price"
            ></p-inputNumber>
          </div>
        </div>
        <div class="field col-12 mb-5">
          <span class="p-float-label">
            <textarea
              rows="5"
              cols="30"
              class="w-full"
              pInputTextarea
              formControlName="description"
            ></textarea>
            <label htmlFor="description">Description</label>
          </span>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end">
      <button
        type="submit"
        class="justify-end"
        pButton
        [label]="'Save'"
        [icon]="'pi pi-save'"
      ></button>
    </div>
  </form>
</p-card>
<p-toast></p-toast>
